<p>
  If you got here with no errors, you're Slack should have an "Ahoy" message. <br />
  If no "Ahoy" message at Slack. Please check your <%= link_to(_('settings'), settings_path(:anchor => 'Slack')) %>
</p>